<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4" align="center" style="color: #6169b4"><span>Welcome to Wickz Queue Management System</span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-info" *ngSwitchCase="false">
        <span
          >Please Use <br />
          login="user" and password="user" <br />
          to
        </span>
        <a class="alert-link" (click)="login()">sign in</a><span> to create a query</span>
      </div>
    </div>

    <div style="height: 20px; width: 100%"></div>

    <div class="d-flex justify-content-start">
      <h4><span>User Controls</span></h4>
    </div>
    <div class="d-flex justify-content-start">
      <h5>
        <button class="btn btn-primary" [routerLink]="['/kiosk-form/new']">
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Query</span>
        </button>
        <button class="btn btn-success" [routerLink]="['/kiosk-form']">
          <fa-icon icon="list"></fa-icon>
          <span> View All Queries</span>
        </button>
      </h5>
    </div>

    <div style="height: 10px; width: 100%"></div>

    <div class="d-flex justify-content-start">
      <h4><span>Agent Controls</span></h4>
    </div>
    <div class="d-flex justify-content-start">
      <h5>
        <button class="btn btn-primary" [routerLink]="['/man-form/new']">
          <fa-icon icon="plus"></fa-icon>
          <span> Address a Query</span>
        </button>
        <button class="btn btn-success" [routerLink]="['/man-form']">
          <fa-icon icon="list"></fa-icon>
          <span> View Addressed Queries</span>
        </button>
      </h5>
    </div>
  </div>
</div>
