<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome to Wickz Queue Management System</span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-info" *ngSwitchCase="false">
        <span
          >Please Use <br />
          User (login="user" and password="user") <br />
          to
        </span>
        <a class="alert-link" (click)="login()">sign in</a><span> to create a query.</span>
      </div>
    </div>

    <ul>
      <li>
        <a href="http://localhost:8080/kiosk-form/new/" target="_blank" rel="noopener noreferrer">Click here to Create a New Query</a>
      </li>
      <li><a href="http://localhost:8080/kiosk-form/" target="_blank" rel="noopener noreferrer">Click here to View your Queries</a></li>
      <li>
        <a href="http://localhost:8080/man-form/new/" target="_blank" rel="noopener noreferrer">Click here to Address a Query (CSA Only)</a>
      </li>
    </ul>
  </div>
</div>
